@import "variables.scss";

header {
    display: flex;
    align-items: center;
    padding-left: $padding-left;
    padding-right: $padding-right;
    height: $section-height;

    .navbar-logo {
        margin-right: 500px;
    }

    .navbar {
        ul {
            display: flex;
            list-style-type: none;
      
            li.navbar-item {
              a {
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
                padding: $padding-y $padding-x;
                color: $dc-dark-grey;
              }
            }
        }
    }
}