@import "variables.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $padding-left;
    padding-right: $padding-right;
    height: $section-height;


     .navbar-logo {
      height: 80px;
      width: 80px; ;

      img {
        height: 100%;
      }
    }

    .navbar {
        ul {
            display: flex;
            list-style-type: none;
      
            li.navbar-item {
              position: relative;
              a {
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
                padding: $padding-y $padding-x;
              } 
              &.blue-text {

                .page-container {
                  background-color: $dc-blue;
                  height: 5px;
                  width: 100%;
                  position: absolute;
                  bottom: -41px;
                }
                a{
                  color: $dc-blue;
                }
              }
              &.dark-text {
                a {
                  color:$dc-dark-grey
                }
              }
              
              
            }
        }
    }
}