@import "variables.scss";

main {
    padding: $padding-top $padding-left;
    background-color: $dc-dark-grey;
    display: flex;
    align-items: center;

    .content {
        color: white;
    }

}