@import "variables.scss";

main {
    padding: $padding-top $padding-left;
    height: $section-height;
    background-color: $dc-dark-grey;
    display: flex;
    align-items: center;
    height: calc(100vh - 756px);

    .content {

        color: white;
    }

}