$dc-blue: #3c7bf8;
$dc-dark-grey: #212121;
$dc-light-grey: #333333;
$dc-text-light-grey: #8B8B8A;

$padding-x: 15px;
$padding-y: 10px;

$padding-left: 300px;
$padding-right: 300px;
$padding-top: 20px;
$padding-bottom: 20px;

$section-height: 150px;